<template>
    <div>
        <h1>
            Limone
        </h1>

        <Dropdown />
        <hr>
        <Popup />

    </div>
</template>

<script>
import Dropdown from '@/components/ui/dropdown/Dropdown.vue';
import Popup from '@/components/ui/popup/PopupComponent.vue'
export default {
    name: 'LimonePools',
    components: {
        Dropdown,
        Popup
    }
}
</script>

<style></style>