<template>
  <div id="app">
    <router-link to="/">Home</router-link>
    <PoolTabs />
    <router-view />
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue"

export default {
  name: 'App',
  components: {
    PoolTabs: defineAsyncComponent(() => import('./components/PoolTabs')),
  }
}
</script>

<style>
#app {
  text-align: center;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: rgb(43, 42, 42);
}
</style>
