<template>
    <div class="dropdown-wrapper">
        <div class="dropdown" @click="toggleDropdown" v-click-outside="closeDropdown">
            <div class="dropdown-title">
                <p>{{ chosenOption }}</p>
            </div>
            <template v-if="showDropdown">
                <div class="dropdown-item" v-for="(option, index) in options" :key="index" @click="chooseOption(option)">
                    <p>{{ option }}</p>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
export default ({
    name: 'DropdownComponent',
    data() {
        return {
            showDropdown: false,
            chosenOption: 'Default option',
            options: ['Option 1', 'Option 2', 'Option 3']
        }
    },
    methods: {
        toggleDropdown() {
            this.showDropdown = !this.showDropdown
        },
        closeDropdown() {
            this.showDropdown = false;
        },
        chooseOption(option) {
            this.chosenOption = option;
        }
    },
    watch: {
        chosenOption(newOption, prevOption) {
            this.options = this.options.filter(option => option !== newOption)
            console.log(this.options);
            this.options.push(prevOption)
            this.options.sort()
        }
    }
})
</script>

<style scoped>
.dropdown-wrapper {
    width: 150px;
}

.dropdown {
    border: 1px solid black;
}

.dropdown-item {
    width: 80%;
    margin: auto;
    border-top: 1px solid rgba(170, 160, 160, 0.505);
}

.dropdown-item:not(:nth-child(1)):hover {
    cursor: pointer;
    color: red
}
</style>