<template>
  <div class="tabs">
    <nav>
      <router-link :to="{ name: 'limone' }">Limone</router-link>
      <router-link :to="{ name: 'w3optimizer' }">W3 Optimizer</router-link>
      <router-link :to="{ name: 'farm' }">Farm</router-link>
      <router-link :to="{ name: 'mypositions' }">My positions</router-link>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.tabs {
  width: 40%;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #313335;
}

nav a.router-link-exact-active {
  color: #ee0909;
}
</style>
