<template>
    <router-link :to="{ name: 'poolW3', params: { id: pool.id } }">
        <div class="card">
            <p style="text-align: center;">{{ pool.id }}</p>
            <p style="text-align: end;" :style="pool.isNew ? '' : 'visibility:hidden;'">*new</p>
            <img :src='pool.images' alt="image">
            <div class="card-info">
                <div class="token-info">
                    <p>Token0: {{ pool.token0.name }}</p>
                    <p>TotalSupply: {{ pool.token0.totalSupply }}</p>
                </div>
                <div class="token-info">
                    <p>Token0: {{ pool.token1.name }}</p>
                    <p>TotalSupply: {{ pool.token1.totalSupply }}</p>
                </div>
            </div>
        </div>
    </router-link>
</template>

<script>
export default ({
    props: {
        pool: Object
    }
})
</script>

<style scoped>
p {
    margin: 0;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 1rem;
    border: 2px solid rgb(133, 131, 131);
}
.card:hover{
    border-color:  rgba(133, 131, 131, 0.432);
}
img {
    width: 40%;
    align-self: center;
}

.token-info {
    text-align: start;
    margin: 0.5rem 0 0.25rem 0;
}
</style>