<template>
  <div class="home">
    Home page
  </div>
</template>

<script>

// @ is an alias to /src

export default {
  name: 'HomeView',
 
}
</script>

<style scoped>
.home{
  font-size: 32px;
  font-weight: 700;
}
</style>