<template >
    <div class="pool">
        <p style="text-align: center;">{{ currentPool.id }}</p>
        <p style="text-align: end;" :style="currentPool.isNew ? '' : 'visibility:hidden;'">*new</p>
        <img :src='currentPool.images' alt="image">
        <div class="pool-info">
            <div class="token-info">
                <p>Token0: {{ currentPool.token0.name }}</p>
                <p>TotalSupply: {{ currentPool.token0.totalSupply }}</p>
            </div>
            <hr>
            <div class="token-info">
                <p>Token0: {{ currentPool.token1.name }}</p>
                <p>TotalSupply: {{ currentPool.token1.totalSupply }}</p>
            </div>
        </div>

    </div>
</template>

<script>
// import { mapGetters } from 'vuex';
import store from '@/store';
export default ({
    name: 'PoolW3',
    computed: {
        currentPoolId() {
            return this.$route.params.id
        },
        currentPool() {
            const currentPool = store.getters.getPoolById(this.currentPoolId)
            console.log(currentPool);
            return currentPool
        }
    },
    created(){
        if(!this.currentPool) this.$router.push({ name: 'w3optimizer' })
    }
})
</script>

<style scoped>
.pool {
    width: 20%;
    margin: auto;
}

.token-info {
    text-align: start;
    margin: 1rem 0;
}

.token-info p {
    padding: 0;
    margin: 0.5rem 0;
}
</style>