<template>
    <div class="container">
        <h1>
            Component for use
        </h1>
        {{ poolsIsLoading }}
        <Loader v-if="poolsIsLoading" />
        <section class="pools-wrapper" v-else>
            <h2>New</h2>
            <div class="pool-cards">
                <div class="card" v-for="(pool, index) in this.newPools" :key="index">
                    <PoolCard :pool="pool" />
                </div>
            </div>
            <hr>
            <h2>Deprecated</h2>
            <div class="pool-cards">
                <div class="card" v-for="(pool, index) in this.deprecatedPools" :key="index">
                    <PoolCard :pool="pool" />
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Loader from '@/components/LoaderComponent'
import { mapGetters, mapMutations } from "vuex"
import { createPools } from '@/helpers/poolCreators'

import PoolCard from '../../PoolCard.vue'

export default {
    name: 'W3OptimizerPools',
    data() {
        return {
            newPools: [],
            deprecatedPools: []
        }
    },
    computed: {
        ...mapGetters({ pools: 'getPools', poolsIsLoading: 'getPoolsLoading' }),
    },
    methods: {
        ...mapMutations(['setPools', 'setPoolsLoading']),
        sortPools(pools) {
            pools.map((pool) => {
                if (pool.isNew) {
                    this.newPools.push(pool)
                } else {
                    this.deprecatedPools.push(pool)
                }
            })
            console.log(pools)
        }
    },
    watch: {
        pools(newPools) {
            this.sortPools(newPools)
        }
    },
    created() {
        this.setPoolsLoading(true)
        createPools()
    },
    components: {
        PoolCard,
        Loader
    }

}
</script>

<style>
.container {
    width: 60%;
    margin: auto;
    padding: 1rem;
}

.pools-wrapper {
    text-align: start;
}

.pool-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.card {
    margin: auto;
}
</style>