<template >
    <div class='container'>
        <div class="popup-wrapper" v-if='isOpen'>
            <div class="popup-backdrop" @click="closePopup"></div>
            <div class="popup">
                <h1>Content title</h1>
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, harum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, officiis tempora molestias error
                        dignissimos voluptatibus nemo iusto adipisci soluta impedit provident, animi nihil ipsam hic quo
                        cum! Esse, placeat!</p>
                </div>
            </div>
        </div>
        <h3 @click="openPopUp" v-else>Open popup</h3>
    </div>
</template>

<script>
export default ({
    name: 'PopupComponent',
    data() {
        return {
            isOpen: false
        }
    },
    methods: {
        openPopUp() {
            this.isOpen = true
        },
        closePopup() {
            this.isOpen = false
        }
    }
})
</script>

<style scoped>
.container {
    position: relative;
}

h3,
p {
    text-align: start;
}


.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.popup-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.384);
}

.popup {
    position: absolute;
    top: 30%;
    left: calc((100% - 500px)/2);
    z-index: 2;

    width: 500px;

    background-color: white;
    border-radius: 8px;

    padding: 2rem;
}
</style>